body {
    background-color: rgba(204, 220, 224, 0.281);
}

h1 {
    font: normal 22pt Arial;
}


body[type=login] {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

form[type="login"] {
    display: inline-block;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label[type="login"] {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: capitalize;
}

input[type="email"],
input[type="password"] {
    display: block;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
}

input[type="submit"] {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #16a085;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
}